/* bienvenida */

.principal {
    display: flex;
    flex-direction: column;
    margin: 100px;
    text-align: center;
    background: rgba(255, 255, 255, 0.418);
    font-family: 'Amethysta';
}

.principal-titulo {
    text-align: center;
    letter-spacing: -1px;
    text-shadow: 0 0 10px #fff8;
    color: #1b1818;
    margin: 0 0 0.5rem;
    font-size: clamp(44px, 5vw, 64px);
    font-weight: 700;
}